<h1>Inscríbete</h1>

<h3>Todos los datos son obligatorios</h3>
  <br><br>
<form class="f_new" method="post" action="/new">
  Nombre:<br><br>
  <input type="text" placeholder="Ingresa tu nombre" name="name">
  <br><br>
  Usuario:<br><br>
  <input type="text" placeholder="Ingresa tu usuario" name="user">
  <br><br>
  Correo:<br><br>
  <input type="text" placeholder="Ingresa tu correo" name="correo">
  <br><br>
  Contraseña:<br><br>
  <input type="text" placeholder="Ingresa tu contraseña" name="pass">
  <br><br>
  <button>Enviar!</button>
  
</form>  